div{
		position: absolute;

}

a:link{
	color: red;
	opacity: 0.9;
	text-decoration:  none;
}

a:hover { 
	opacity: 0.5;
	transition: all 0.3s linear;
	text-decoration:  none; 
}
a:visited {
	color: red;
	opacity: 0.9;
	text-decoration:  none;
}

.circle{
	position: absolute;
	top: 485px;
	left: 1050px;
	font-size: 200px;
	color: red;
	opacity: 0.9;
	text-decoration:  none;
}

.kanji1{
	position: absolute;
	font-size: 800px;
	top: -100px;
	left: -50px;
	font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: rgb(80,80,80);
	opacity: 0.15;
}

.kanji2{
	position: absolute;
	font-size: 800px;
	font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	top: 100px;
	left: 400px;
	color: rgb(80,80,80);
	opacity: 0.15;
}

.lyric_j{
	color: red;
	top: 65px;
	left: 700px;
	font-size: 33px;
	font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;
}

.lyric_e{
	color: red;
	top: 125px;
	left: 700px;
	font-size: 33px;
	font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;
}

.form1{ 
	position: absolute;
	font-size: 55px;
	top: 890px;
	left: 25px;
	font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;

 }

.reading_kanji1{
	position: absolute;
	font-size: 20px;
	top: 900px;
	left: 100px;
	font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;
	max-width: 300px;

}

.form2{ 
	position: absolute;
	font-size: 55px;
	top: 890px;
	left: 480px;
	font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;

 }

.reading_kanji2{
	position: absolute;
	font-size: 20px;
	top: 900px;
	left: 560px;
	font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;
	max-width: 300px;
}
