div{

}

.coda{
	position: absolute;
	font-size: 400px;
	top: 130px;
	left: 100px;
	font-family: 'Hammersmith One', sans-serif;
	color: white;
}

.CODA{
	position: absolute;
	font-size: 400px;
	top: 140px;
	left: 200px;
	font-family: 'Hammersmith One', sans-serif;
	color: red;
	opacity: 0.15;
}

.CODA1{
	position: absolute;
	font-size: 400px;
	top: 180px;
	left: 170px;
	font-family: 'Hammersmith One', sans-serif;
	color: red;
	opacity: 0.15;
}

.CODA2{
	position: absolute;
	font-size: 400px;
	top: 150px;
	left: 70px;
	font-family: 'Hammersmith One', sans-serif;
	color: red;
	opacity: 0.15;
}

.CODA3{
	position: absolute;
	font-size: 400px;
	top: 80px;
	left: 190px;
	font-family: 'Hammersmith One', sans-serif;
	color: red;
	opacity: 0.15;
}

.CODA4{
	position: absolute;
	font-size: 400px;
	top: 100px;
	left: 50px;
	font-family: 'Hammersmith One', sans-serif;
	color: red;
	opacity: 0.15;
}

.CODA5{
	position: absolute;
	font-size: 400px;
	top: 70px;
	left: 150px;
	font-family: 'Hammersmith One', sans-serif;
	color: red;
	opacity: 0.15;
}

.thegazette{
	position: absolute;
	font-size: 100px;
	top: 30px;
	left: 350px;
	font-family: 'Hammersmith One', sans-serif;
	color: black;
	opacity: 0.55;
}

.コダ {
	position: absolute;
	font-size: 100px;
	top: 550px;
	left: 550px;
	font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;;
	color: black;
	opacity: 0.5;



