div{
	position: absolute;
}

body{
/*background:linear-gradient(#240182 77%, #4400c4 100%);*/
 }

a:link{
	  text-decoration:  none;
	color: #fce7de;
}

a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            white;
  } 


a:hover { 
	color: white;
	opacity: 1;
	transition: all 0.2s linear;
}



/*user agent stylesheet*/
div {
    display: block;

}


body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    z-index: 1;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}



/*DROP MENU*/


body {
	font-family: Proxima Nova, Montserrat, Helvetica, Sans-Serif;
}

.open{ 
	position: absolute;
	color: rgba(255,255,255,0.8);
	font-size: 45px; 
	padding-left: 3%;
	top: 4%;

}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(20,4,123);
	color: rgba(255,255,255,0.8);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffe9ee;
    display: block;
    transition: 0.3s;
}

.overlay span:hover, .overlay span:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 4.8%;
    left: 2.8%;
    font-size: 95px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 50px;
    top: 35px;
    left: 20px;
  }
}


/*CONTENT*/

.header{
	font-family: Proxima Nova, Montserrat, Helvetica, Sans-Serif;
	font-size: 40px;
	font-style: italic;
	font-weight: 800;
	line-height: 26.4px;
	width: 100%;
	height: 50px;
	top: -5px;
	padding-top: 25px;
	left: -0.5px;
	z-index: -1;
	color: rgba(255,255,255, 0.8);
	background-color: rgb(20,4,123);

}


.img_grad{
	width: 100%;
    position: absolute;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.img_top{
	position: absolute;
	max-width: 100%;
	width: 100%;
    top: 0px;
    left: 0px;
    z-index: -3;}


.text{
	position: absolute;
	margin-top: 55%;
	left: 0px;
	right:0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 684px;
	background-color: rgba(255,255,255,0.8);
	padding-right: 40px;
	border-radius: 20px;
	padding-top: 10px;
}

.preface{
	width: 95%;
	max-width: 95%;
	font-family: Proxima Nova, Montserrat, Helvetica, Sans-Serif;
	font-size: 17px;
	font-style: ;
	font-variant: ;
	font-weight: 400;
	line-height: 29px;
	color: #3f3f3f;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 30px;
}


h4{
	width: 95%;
	font-family: Proxima Nova, Montserrat, Helvetica, Sans-Serif;
	font-size: 20px;
	font-style: italic;
	font-variant: ;
	font-weight: 800;
	line-height: 27px;
	color: #3f3f3f;
	padding-left: 40px;

}

p{	
	width: 95%;
	max-width: 95%;
	font-family: Proxima Nova, Montserrat, Helvetica, Sans-Serif;
	font-size: 17px;
	font-style: ;
	font-variant: ;
	font-weight: 400;
	line-height: 29px;
	color: #3f3f3f;
	padding-left: 40px;
	margin-top: -15px;
	padding-bottom: 15px;

}

.a{
	margin-bottom: -10px;
}





li{
	width: 93%;
	max-width: 785px;
	font-family: Proxima Nova, Montserrat, Helvetica, Sans-Serif;
	font-size: 17px;
	font-style: ;
	font-variant: ;
	font-weight: 400;
	line-height: 30px;

}

ul{
	padding-bottom: -15px;
	margin-top: -17px;
}




